
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('https://images5.alphacoders.com/131/1318408.png')no-repeat;
    background-position: center;
    background-size: cover;
}

.img {
    position: absolute;
}

.imagem{
    position: relative;
    bottom: 30vh;
}

.gradient-border {
    border-image: linear-gradient(to right bottom, #2e008c, #ce00d7);
    border-image-slice: 1; /* Isso ajusta o tamanho do gradiente na borda */
    border-width: 2px; /* Defina a largura da borda */
    border-style: solid; /* Defina o estilo da borda */
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
