* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: white;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #a400ad;
    border-radius: 50px;
}