@import '../abstract/variaveis';

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 60px);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: transform 1s ease-in-out;

        li {
            min-width: 100%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(30%);
            }

            .text-overlay {
                position: absolute;
                bottom: 50px;
                left: 20px;
                color: $cor-de-texto;
                text-align: left;
                padding: 20px;
                border-radius: 30px;
                background-color: rgba(0, 0, 0, 0.362);
                font-size: x-large;
            }

            .play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $cor-de-fundo-clara;
                /* Cor de fundo do botão */
                color: $cor-de-texto;
                /* Cor do ícone */
                border: none;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                cursor: pointer;
                visibility: hidden;
                /* Inicialmente invisível */
                opacity: 0;
                transition: visibility 0.3s, opacity 0.3s;

                &:hover {
                    background-color: $cor-de-texto-hover;
                    /* Cor de fundo do botão ao passar o mouse */
                }

                svg {
                    font-size: 60px;
                }
            }

            &:hover .play-button {
                visibility: visible;
                /* Torna o botão visível ao passar o mouse */
                opacity: 1;
                transition: calc(0.5s);
            }
        }
    }
}