@import '../abstract/variaveis';

header {
    background-color: $cor-de-fundo;
    max-width: 1980px;
    margin: auto;

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 7px 28px 5px rgba(0,0,0,0.75);

        .btn-login {
            position: relative;
            padding-right: 20vh;
            button {
                background-color: $cor-de-texto-hover;
                color: $cor-de-texto;
                border: none;
                padding: 15px;
                border-radius: 5px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                letter-spacing: 2px;

                &:hover {
                    background-color: $cor-de-texto ;
                    color: $cor-de-texto-hover;
                    transition: 0.6s;
                    transform: scale(1.1);
                }
            }
        }

        nav {
            list-style: none;
            padding: 0;

            button {
                position: relative;
                background-color: $cor-de-fundo-clara;
                top: -10px;
                padding: 6px;
                padding-left: 10px;
                padding-right: 10px;
                border: #2e2e2e;
                color: $cor-de-texto;
                font-size: x-large;
                right: 8vh;
                bottom: 1vh;
                border-radius: 0px 20px 20px 0px;
                cursor: pointer;

                &:hover {
                    color: $cor-de-texto-hover;
                    transition: 0.3s;
                }
            }

            .Logo {
                font-size: xx-large;
                padding-bottom: 0;
            }

            li {
                display: inline;

                a {
                    color: $cor-de-texto;
                    padding: 20px;
                    display: inline-block;
                    text-decoration: none;
                    align-items: center;
                    justify-content: space-between;

                    &:hover {
                        color: $cor-de-texto-hover;
                    }
                }

                input {
                    position: relative;
                    width: 50vh;
                    height: 3vh;
                    padding-bottom: 10px;
                    bottom: 1.5vh;
                    border-radius: 10px 0px 0px;
                    font-size: 15px;
                    font-weight: bold;
                    background-color: $cor-de-fundo-clara2;
                    border: 0px;
                    color: $cor-de-texto;
                    border: none;
                    padding: 7px 16px 8px;
                    right: 8vh;
                    z-index: 2;
                }
            }
        }

        img {
            width: 30%;
            padding-bottom: 0px;
            position: relative;
        }
    }

}